---

import '../styles/myStyles.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "HomePage";

---

<BaseLayout pageTitle={pageTitle}> 
	<h1>Welcome to My Digital Garden</h1>
</BaseLayout>